@import url("http://fonts.cdnfonts.com/css/arial-mt");

body {
  margin: 0;
  font-family: "Arial MT", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
